
/* colors
    EFFFFD
    B8FFF9
    85F4FF
    42C2FF
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
}


body{
    font-size: 1.8rem;
    background: rgb(255,255,255);
    background: linear-gradient(153deg, rgba(255,255,255,1) 7%, rgba(215,243,249,1) 83%);
    font-family: sans-serif;
    min-height: 1vh;
}

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5rem;
    background: #07689f;
    border: 0.1rem solid black;
}

.navbar__section{
    grid-column: span 5;
    height: auto;
    margin: auto 0;
}

.navbar__section__header{
    padding: 1rem;
    color: white;
}

.navbar__heading_a{
    text-decoration: none;
    color: white;
}

.navbar__ul{
    grid-column: span 7;
    width: 100%;
    display: flex;
    justify-content: right;
    list-style: none;
    padding-right: 1rem;
    transition: all 0.2s;
}

.navbar__li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.navbar__li{
    display: flex;
    height: 97%;
    list-style: none;
    background: #0978b8;
    align-items: center;
    border: 0.1rem solid black;
}

.navbar__a{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: auto;
    text-decoration: none;
    padding: 1rem;
    color: white;
}


@media (max-width: 62.5rem){
    .navbar__a{
        font-size: 70%;
    }
}

@media (max-width: 43.75rem){
    .navbar__section__header{
        font-size: 70%;
    }
}

@media (max-width: 28.125rem){
    .navbar__section__header{
        font-size: 60%;
    }

    .navbar__ul{
        padding: 0;
    }
}





.filterArticle{
    width: 100%;
}

.filterArticle__section{
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 4rem;

}
.filterArticle__wrapper{
    grid-column: span 2;
    padding: 1rem;
}

.filterArticle__heading{
    width: 100%;
    text-align: center;
}
.filterArticle__label{
    padding-right: 2rem;
}

.filterArticle__input{
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid black;
    padding: 3px;
}

.filterArticle__input:hover{
    cursor: pointer;
}

.filterArticle__input:checked{
    background-color: #07689f;
  }

.filterArticle__button{
    font-size: 100%;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: white;
    box-shadow: 0 2rem 5rem rgba(7, 104, 159, 0.3);
}

@media (max-width: 62.5rem){
    .filterArticle__section{
        width: 90%;
    }


}

@media (max-width: 43.75rem){

.filterArticle__wrapper{
    display: flex;
    justify-content: center;
    grid-column: span 5;
}

.filterArticle__wrapper:nth-of-type(5){
    grid-column: span 10;
    width: 50%;
    margin: 0 auto;
}

}


.page-header{
    padding-bottom: 4rem;
    padding-top: 6rem;
    font-size: 240%;
    font-weight: 600;
    width: 100%;
    text-align: center;
}




.cardsWrapper{
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10rem;
}


.gridCard{
    grid-column: span 6;
    width: 100%;
    min-height: 35rem;
    position: relative;
    background: #98CCFF;
    box-shadow:  11px 11px 22px #55728f,
                 -11px -11px 22px #dbffff;
    border-radius: 1rem;
}


@media (max-width: 56.25rem){
    .gridCard__text{
        font-size: 70%;
    }

}

@media (max-width: 38rem){

    .cardsWrapper{
        display: block !important;
        width: 90%;
    }

    .gridCard{
      width: 100%;
      margin-top: 4rem;
    }

    .u-grid-gap-4{
        gap: 0;
    }
}

.gridCard__figure{
    width: 100%;
    height: 60%;
}

.gridCard__image{
    width: 95%;
    height: 100%;
    object-fit: cover;
}

.gridCard__header{
    width: 100%;
    font-size: 150%;
    height: 15%;
    color: black;
}

.gridCard__heading{
    padding-left: 2rem;
    color: #3E4149;
    width: 100%;
    text-align: center;
}

.gridCard__text{
    padding: 2rem;
    color: black;
}

.gridCard > a {
    text-decoration: none;
}

.gridCard > a > article{
    width: 100%;
    height: 100%;
}

.gridCard__textSection{
    width: 100%;
    height: 25%;
}

.oppasserCard{
    width: 60vw;

    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    background: #e6f2f8;
}


@media (max-width: 43.75rem){
    .oppasserCard{
        width: 90%;
    }
}

.oppasserCard__figure{
    width: 100%;
    height: 60%;
    padding: 2rem;
}

.oppasserCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oppasserCard__text{
    padding-left: 2rem;
    color: black;
    height: 30%;
}

.oppasserCard__text > p{
    padding-bottom: 1rem;
}

.oppasserCard__text__header{
    font-size: 210%;
    padding-bottom: 2rem;
}


@media (max-width: 28.125rem){
    .oppasserCard__text>p{
        font-size: 70%;
    }

    .oppasserCard__text__header{
        font-size: 170%;
    }

    .revieuwSection__reviewSection >p {
        font-size: 70%;
    }

    .revieuwSection__naam > h2{
        font-size: 100%;
    }
}

.oppasserCard__btnSection{
    height: 10%;
    margin: 2rem 0;
}
.oppasserCard__button{
    font-size: 100%;
    width: 20rem;
    height: 4rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: white;
    box-shadow: 0 2rem 5rem rgba(7, 104, 159, 0.3);
    transition: 0.2s all;
}

.oppasserCard__button:hover{
    cursor: pointer;
}

.dierCard{
    width: 60vw;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    background: #e6f2f8;
    margin-bottom: 10rem;
}

@media (max-width: 43.75rem){
    .dierCard{
        width: 90%;
    }
}


.dierCard__figure{
    height: 35rem;
    padding: 2rem;
}

.dierCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dierCard__text{
    padding-left: 2rem;
    color: black;
    height: 30%;
}

.dierCard__text > p{
    padding-bottom: 1rem;
}

.dierCard__text__header{
    font-size: 210%;
    padding-bottom: 2rem;
}

@media (max-width: 31.25rem){
    .dierCard__text__header{
        font-size: 150%;
    }

    .dierCard__text > p{
        font-size: 80%;
    }
}

.dierCard__btnSection{
    height: 10%;
    padding-bottom: 2rem;
}
.dierCard__button{
    font-size: 100%;
    width: 20rem;
    height: 4rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: white;
    box-shadow: 0 2rem 5rem rgba(7, 104, 159, 0.3);
    transition: 0.2s all;
}

.dierCard__button:hover{
    cursor: pointer;
}

.aanmeldSection{
    padding: 2rem;
    padding-top: 5rem;
    width: 100%;
}

.aanmeldSection__naam{
    grid-column: span 6;
}
.aanmeldSection__btnSection{
    grid-column: span 6;
}

.aanmdeldSection__Form{
    grid-column: span 6;
    height: 100%;
}
.aanmeldSection__button{
    font-size: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    color: white;
    box-shadow: 0 2rem 5rem rgba(7, 104, 159, 0.3);
    transition: 0.2s all;
    grid-column: span 6;
}


@media (max-width: 34.375rem){
    .aanmeldSection__button{
        font-size: 80%;
    }

    .aanmeldSection__naam > h2 {
        font-size: 110%;
    }
}



.oppasserCard__reviewsArticle{
    padding-bottom: 5rem;
}

.revieuwSection{
    padding: 2rem;
    padding-top: 3rem;
    height: auto;
    width: 95%;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.revieuwSection__naam{
    grid-column: span 3;
}
.revieuwSection__reviewSection{
    grid-column: span 9;
}

.homepage-article{
    width: 40%;
    height: 50rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 2rem black;
    border-radius: 3rem;
}

@media (max-width: 62.5rem){
    .homepage-article{
        width: 90%;
    }
}

.homepage-article__section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.homepage-article__section:nth-of-type(1){
    padding-bottom: 8rem;
}

.homepage-article__heading{
    width: 100%;
    text-align: center;
    padding-bottom: 6rem;
}

@media (max-width: 43.75rem){
    .page-header{
        font-size: 160%;
    }
}

@media (max-width: 28.125rem){
    .page-header{
        font-size: 140%;
    }
    .homepage-article__heading{
       padding-bottom: 2rem;
    }
}

.homepage-article__text{
    font-size: 110%;
}

.homepage-article__button{
    font-size: 100%;
    width: 25rem;
    height: 5rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: white;
    box-shadow: 0 2rem 5rem rgba(7, 104, 159, 0.3);
    margin: 0 auto;
    margin-bottom: 2rem;
}


.u-green-button{
    background: lime;
}
.u-red-button{
    background: red;
}

.u-normal-color-button{
    background: #07689f;
}

.create-form{
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 10rem;
}

.create-form__form{
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 2rem black;
    border-radius: 3rem;
}

.create-form__section{
    padding-bottom: 2rem;

}

.create-form__input{
    margin-top: 1rem;
    display: block;
    width: 100%;
    font-size: 130%;
}
.create-form__label--number{
    grid-column: span 10;
}

.create-form__input--number{
    grid-column: span 1;
    width: 100%;
    font-size: 130%;

}

.create-form__p--number{
    grid-column: span 1;
    padding-right: 0.5rem;
    text-align: right;
    margin: auto 0;
}

.create-form__input--big{
    height: 15rem;
}

.create-form__button{
    width: 16rem;
    height: 6rem;
    padding: 1rem;
    background: #07689f;
    color: white;
    font-size: 100%;
    border: none;
}


@media (max-width: 50rem){
    .create-form__form{
        width: 90%;
    }
}


button:hover{
    cursor: pointer;
}

.u-grid-12{
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
}
.u-grid-10{
    display: grid;
    grid-template-columns: repeat(10,minmax(0,1fr));
}

.u-grid-gap-2{
    gap: 2rem;
}

.u-grid-gap-4{
    gap: 4rem;
}

.u-center-h{
    display: flex;
    justify-content: center;
}

.u-center-v{
    display: flex;
    align-items: center;
}

.u-flex-gap-2{
    gap: 2rem;
}

.u-height-u{
    height: 5rem;
}

.u-hidden{
    visibility: hidden;
}
